<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>tv.juicefilm.weather</string>
    <key>CFBundleName</key>
    <string>Weather Juice</string>
    <key>CFBundleVersion</key>
    <string>1.0.27</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.27</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>WeathersnakeAvalonia</string>
    <key>CFBundleIconFile</key>
    <string>WeatherJuice.icns</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2026 Weather Juice</string>
</dict>
</plist>